/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
html {
    font-size: 14px;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #2E0249;
}

.contact {
    height: 100%;

    padding: 4rem 4rem 4rem 4rem;

    font-size: 1.25rem;

    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

/* CONTACT-DATA */

/* Data User */

.data-user {
    width: 28.1rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data-user h1 {
    font-size: 3rem;
    line-height: 3.8rem;
    color: #EEEEEE;
    -webkit-text-stroke: 0.07rem #000000;
}

.data-user h1 span {
    color: #A91079;
}

.data-user-list {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.data-user-item {
    padding: 1rem;


    color: #FFFFFF;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.data-user-item:hover {
    background: rgba(87, 10, 87, 0.5);
    border: 0.18rem solid #A91079;
    border-radius: 1rem;
}

/* Social Links */
.social-links {
    display: flex;
    gap: 2.7rem;
}

.social-links img {
    padding: 1.25rem;
}

.social-links img:hover {
    background: #A91079;
    border-radius: 50%;
}

/* CONTACT-FORM */
.contact-form {
    width: 43.7rem;
    height: 100%;
    padding: 2.5rem;

    background-color: #eeeeee;
    border-radius: 1.5rem;
}

.form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-interests-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-interests-message h2 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #2E0249;
}

/* Form interests */
.form-interests {
    margin: .8rem 0 1.2rem 0;

    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.form-interests label {
    padding: 1rem;

    color: #2E0249;

    border: 0.12rem solid #2e02494d;
    border-radius: 0.5rem;
    opacity: 30%;
}

.form-interests input:checked+label {
    color: #eeeeee;

    background-color: #A91079;
    border: none;
    opacity: 100%;
}

/* Disappear With Checkbox */
.form-interests input {
    width: 0px;
    visibility: hidden;
}

/* form message*/
.form-message {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* form message field */
.form-message-field input[type="text"] {
    width: 100%;
    padding-bottom: 0.5rem;

    font-size: 1.25rem;
    color: #2E0249;

    background-color: transparent;
    border: none;
    border-bottom: 0.18rem solid #2e02494d;
}

.form-message input:focus {
    outline: none;

    color: #2E0249;

    border-bottom: 0.18rem solid #A91079;
}

/* BUTTON */
.form-button {
    width: 19rem;
    padding: 1rem 2rem;

    font-size: 1.25rem;
    color: #eeeeee;

    background-color: #A91079;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-button:hover {
    background-color: rgba(169, 16, 121, 0.8);
    cursor: pointer;
}

/* Disabled Button */
.form-button:disabled {
    cursor: default;
    opacity: .4;
}